.tracks-list {
    /* background-color: red; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tracks-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .tracks-list ul {
    list-style: none;
    padding: 0;
  }
  
  .tracks-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  .tracks-list span {
    font-size: 16px;
  }
  
  .tracks-list p {
    font-size: 18px;
    font-weight: bold;
  }
  .tracks-table{
    width: 100%;

  }
  .tracks-table th,
.tracks-table td {
  border: 1px solid #ccc; /* Add borders to table header and data cells */
  padding: 8px; /* Add padding to improve readability */
  text-align: left; /* Align text to the left within cells */
}

.tracks-table th {
  background-color: var(--first-color); /* Background color for table header */
}

.tracks-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}
.table th:nth-child(1), .table td:nth-child(1) {
    width: 100px; /* Set a specific width in pixels */
  }
  
  .text-center{
    text-align: center;
  }