.tracks-list {
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tracks-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .tracks-list ul {
    list-style: none;
    padding: 0;
  }
  
  .tracks-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  .tracks-list span {
    font-size: 16px;
  }
  
  .tracks-list p {
    font-size: 18px;
    font-weight: bold;
  }